/**************************************************
* custom variables, bootstrap variable overrides.
* color names taken from:
* https://www.color-blindness.com/color-name-hue/
**************************************************/

$font-main: "Raleway", sans-serif;
$font-alt: "Oswald", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$turbo: #F6C626;
$nero: #242424;
$night-rider: #313131;
$fruit-salad: #4C9E45;