/**************************************************
* custom variables, bootstrap variable overrides.
* color names taken from:
* https://www.color-blindness.com/color-name-hue/
**************************************************/

$font-main: "Raleway", sans-serif;
$font-alt: "Oswald", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$turbo: #F6C626;
$nero: #242424;
$night-rider: #313131;
$fruit-salad: #4C9E45;

@mixin turbo-gradient(){
  background: rgba(246,197,38,1);
  background: linear-gradient(to bottom, rgba(246,197,38,1) 0%, rgba(247,146,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c526', endColorstr='#f79217', GradientType=0 ); 
}